<!--
  Generated template for the VillagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content id="page">
    <div class="pane-group">
      <div class="pane pane-sm sidebar">
        <nav id="sidebar"class="nav-group">
        <h1 class="nav-group-title">Inventory</h1>
        <details style="padding-left: 5%;" class="nav-group-item">
          <summary style="font-size: 20px">
            <span>
             Weapons &nbsp;
            <span class="ra ra-sword pull-right">
            </span>
            </span>
         </summary>
         <span style="padding-left:10%;" class="nav-group-subtitle"> One Handed </span>
         <div style="padding-left: 13%" *ngFor= "let item of hero.weapons">
            <div id="equiped" *ngIf="item.type == '1hand' && item.equiped">
                <span class="{{item.icon}} pull-left"></span>
                <div> &nbsp;{{ item.name}} </div>
              </div>
            <span *ngIf="item.type == '1hand' && !item.equiped">
              <span class="{{item.icon}} pull-left"> </span>
              <div> &nbsp;{{item.name}}</div>
            </span>
          </div>
       </details>
        <details style="padding-left: 5%;"class="nav-group-item">
          <summary style="font-size: 20px">
            <span>
             Armor &nbsp; &nbsp;
            <span class="ra ra-helmet pull-right">
            </span>
            </span>
         </summary>
         <span style="padding-left:10%;" class="nav-group-subtitle"> Head </span>
         <div style="padding-left: 13%" *ngFor= "let item of hero.armor">
            <div id="equiped" *ngIf="item.type == 'head' && item.equiped">
                <span class="{{item.icon}} pull-left"></span>
                <div> &nbsp; {{ item.name}} </div>
              </div>
            <span *ngIf="item.type == 'head' && !item.equiped">
              <span class="{{item.icon}} pull-left"> </span>
              <div> &nbsp; {{item.name}}</div>
            </span>
          </div>
         <span style="padding-left:10%;" class="nav-group-subtitle"> Body </span>
         <div style="padding-left: 13%" *ngFor= "let item of hero.armor">
            <div id="equiped" *ngIf="item.type == 'body' && item.equiped">
                <span class="{{item.icon}} pull-left"></span>
                <div> &nbsp; {{ item.name}} </div>
              </div>
            <span *ngIf="item.type == 'body' && !item.equiped">
              <span class="{{item.icon}} pull-left"> </span>
              <div> &nbsp; {{item.name}}</div>
            </span>
          </div>
         <span style="padding-left:10%;" class="nav-group-subtitle"> Legs </span>
         <div style="padding-left: 13%" *ngFor= "let item of hero.armor">
            <div  id="equiped" *ngIf="item.type == 'legs' && item.equiped">
                <span class="{{item.icon}} pull-left"></span>
                <div> &nbsp; {{ item.name}} </div>
              </div>
            <span *ngIf="item.type == 'legs' && !item.equiped">
              <span class="{{item.icon}} pull-left"> </span>
              <div> &nbsp; {{item.name}}</div>
            </span>
          </div>
         <span style="padding-left:10%;" class="nav-group-subtitle"> Hands </span>
         <div style="padding-left: 13%" *ngFor= "let item of hero.armor">
            <div id="equiped" *ngIf="item.type == 'hands' && item.equiped">
                <span class="{{item.icon}} pull-left"></span>
                <div> &nbsp; {{ item.name}} </div>
              </div>
            <span *ngIf="item.type == 'hands' && !item.equiped">
              <span class="{{item.icon}} pull-left"> </span>
              <div> &nbsp; {{item.name}}</div>
            </span>
          </div>
         <span style="padding-left:10%;" class="nav-group-subtitle"> Feet </span>
         <div style="padding-left: 13%" *ngFor= "let item of hero.armor">
            <div id="equiped" *ngIf="item.type == 'feet' && item.equiped">
                <span class="{{item.icon}} pull-left"></span>
                <div> &nbsp; {{ item.name}} </div>
              </div>
            <span *ngIf="item.type == 'feet' && !item.equiped">
              <span class="{{item.icon}} pull-left"> </span>
              <div> &nbsp; {{item.name}}</div>
            </span>
          </div>
                </details>

        <details style="padding-left: 5%;"class="nav-group-item">
          <summary style="font-size: 20px">
            <span>
             Food  &nbsp; &nbsp;
            <span class="ra ra-meat pull-right">
            </span>
            </span>
         </summary>
       </details>
        <h1 class="nav-group-title">Status</h1>
        <span style="font-size: 20px"class="nav-group-item">
          <span class="ra ra-health"></span>
          &nbsp;{{ hero.health}}/100
        </span>
        <span style="font-size: 20px" class="nav-group-item">
          <span  class="ra ra-doubled"></span>
          &nbsp;{{ hero.magicka}}/100
        </span>
        <span style="font-size: 20px" class="nav-group-item">
          <span class="ra ra-chicken-leg"></span>
          &nbsp;{{ hero.full}}/100
        </span>
        <span style="font-size: 20px" class="nav-group-item">
          <span class="ra ra-gold-bar"></span>
          &nbsp;{{ hero.coins}}
        </span>
        <h1 class="nav-group-title">System</h1>
        <details style="padding-left: 5%;"class="nav-group-item">
          <summary style="font-size: 20px">
            <span>
             Settings  &nbsp; &nbsp;
            <span class="ra ra-cog pull-right">
            </span>
            </span>
         </summary>
         <button ion-button block id="restartbutton"(click)=restart()> Restart </button>
       </details>

      </nav>
    </div>
    <div class="pane" text-center>
      <h1 text-center>Village</h1>
      <p> Welcome to the Village Center<p>

      <ion-grid>
      <ion-row>
        <ion-col>
          Merchants
        </ion-col>
        <ion-col>
          Fighting
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button id="buttons"ion-button block (click)="getName()">Local Goods Shop</button>
          <button id="buttons"ion-button block>Mage Shop</button>
          <button id="buttons"ion-button block>Blacksmith Shop</button>
        </ion-col>
        <ion-col>
        <button id="buttons"ion-button block>Training Ground</button>
        <button id="buttons"ion-button block>Apothecary</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button id="buttons" ion-button block>Return Home</button>
        </ion-col>
      </ion-row>
    </ion-grid>


    </div>
  </div>

</ion-content>
