
  @font-face {
    font-family: "Ringm";
    font-style: normal;
    font-weight: 500;
    src: url("../../assets/fonts/RINGM.TTF") format("truetype");
  }


page-home {

  #buttons {
    background-color: #54678F;
    color: #C2D3DA;
  }

  h1 {
    padding-top: 5%;
    font-size: 2em;
  }
  p {

    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }

  ion-content {
    color: #C2D3DA;
    background-color: #6C6B74;
    font-family: Ringm;
    font-size: 2em;
  }

  span {
    font-stretch: condensed;
    font-size: 1.2em;
    font-family: Ringm;
    font-style: italic;
  }
}
